@import url('./fonts.css');

body {
  background-color: #efe8e3;
  font-family: 'EllographCF', monospace;
  display: grid;
  grid-column-gap: 20px;
  margin:20px;
}

/* THEME */
.light {
  background-color: #efe8e3;
  color: #000000;
}

.dark {
  background-color: #212121;
  color: #efe8e3;
}


/* GRID */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

[class*="-panel"] {
    min-height: 150px;
    border: 1px solid #000000;
    padding: 20px;
}

/* TYPOGRAPHY */
h1,h2,h3,h4,h5,h6 {
  font-family: 'VanguardCF';
  font-style: oblique;
  font-weight: lighter;
  text-transform: uppercase;
  text
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

pre, code {
    font-family: 'EllographCF-Regular', monospace;
}
.regular {
    font-style: normal;
    font-weight: normal;
}
.bold {
    font-style: normal;
    font-weight: bold;
}
.italic {
    font-style: italic;
    font-weight: normal;
}
.display {
    font-family: 'Briar', sans-serif;
    font-size: 4rem;
    font-style: italic;
    text-transform: uppercase;
}
.feature {
  font-family: 'Briar', sans-serif;
}
[class*="-label"]{
    font-size: 1.125rem;
    font-weight: bolder;
}
.briar {
  font-family: 'Briar', sans-serif;
}
.fugaz-one {
  font-family: 'Fugaz One', sans-serif;
}
.abide {
    font-family: 'Abide', sans-serif;
}
.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}
.space-mono {
    font-family: 'Space Mono', monospace;
}
.ellograph {
  font-family: 'EllographCF-Regular', monospace;
}
.vanguard {
  font-family: 'VanguardCF', sans-serif;
  font-weight: lighter;
}

/* COLORS */
.primary {
  color: #ff430f;
}
.color-panel.beige {
    background-color: #efe8e3;
    color: #000000;
}
.color-panel.orange {
    background-color: #ff430f;
    color: #000000;
}
.color-panel.dark-grey {
    background-color: #212121;
    color: #efe8e3;
}
.color-panel.black {
    background-color: #000000;
    color: #efe8e3;
}

/* FORMS */
button {
  background-color: #212121;
  border: 1px solid #000000;
  color: #efe8e3;
  padding: 10px 20px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}